= render "shared/internal_navbar"

.container
  %h1.font-weight-light.text-center.text-lg-left.mt-4.mb-0 Albums
  %hr.mt-2.mb-5

  .row
    - @albums.each do |album|
      .col-lg-6.mb-4
        .card.h-100
          - if album.cover.attached?
            = image_tag(album.cover, width: 600, class: "img-responsive card-img-top")

          .card-body
            %h4.card-title
              = link_to album.name, admin_album_path(album)
            .card-text
              %p= album.description

          .card-footer
            = link_to(edit_admin_album_path(album), class: "btn btn-outline-info btn-xs") do
              %span.fas.fa-pen-square{"aria-hidden" => "true"}
              Edit
            = link_to(admin_album_path(album), method: :delete, class: "btn btn-outline-danger btn-xs float-right", data: { confirm: "Are you sure?" }) do
              %span.fa.fa-trash{"aria-hidden" => "true"}
              Delete
