 <!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <%= image_tag "logo.png", class: "img-responsive", alt: "logo"%>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#header" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><%= link_to "Portfolio", albums_path %></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- End section navbar -->

  <!-- start section header -->
  <div id="header" class="home">

    <div class="container">
      <div class="header-content">
        <h1>I'm <span class="typed"></span></h1>
        <p>photographer, adventurer, mother</p>

        <ul class="list-unstyled list-social">
          <%= link_to "https://www.facebook.com/profile.php?id=100001774342525", target: "_blank" do %>
            <%= fa_icon "facebook", base: "square-o", class: "icon-white-lg" %>
          <% end %>
          <%= link_to "https://vk.com/galeckaya", target: "_blank" do %>
            <%= fa_icon "vk", base: "square-o", class: "icon-white-lg" %>
          <% end %>
          <%= link_to "https://www.instagram.com/julia_galeckaya/", target: "_blank" do %>
            <%= fa_icon "instagram", base: "square-o", class: "icon-white-lg" %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- End section header -->


  <!-- start section about us -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <%= image_tag "me.jpg", class: "img-responsive", alt: "me"%>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">im a ux /ui designer austin based who loves clean, simple & unique design. i also enjoy crafting brand identities, icons, & ilustration work. </p>
            <p class="separator">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family.English person.</p>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->


  <!-- start section footer -->
  <div id="footer" class="text-center" style="background-color: white;">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <%= link_to "https://www.facebook.com/profile.php?id=100001774342525", target: "_blank"  do %>
            <%= fa_icon "facebook", base: "square-o", class: "icon-grey-lg" %>
          <% end %>
          <%= link_to "https://vk.com/galeckaya", target: "_blank" do %>
            <%= fa_icon "vk", base: "square-o", class: "icon-grey-lg" %>
          <% end %>
          <%= link_to "https://www.instagram.com/julia_galeckaya/", target: "_blank" do %>
            <%= fa_icon "instagram", base: "square-o", class: "icon-grey-lg" %>
          <% end %>
        </ul>

      </div>

      <p>Copyright &copy; Julia Galeckaya 2019</p>

      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div>
<!-- End section footer -->
