= link_to "New album", new_album_path

Here are all albums:
- @albums.each do |album|
  = album.name
  = album.description
  = image_tag(album.image)
  = link_to "edit", edit_album_path(album)
  = link_to "delete", album_path(album), method: :delete
