.row
  .col-sm-9.col-md-7.col-lg-5.mx-auto
    .card.card-signin.my-5
      .card-body
        %h5.card-title.text-center Sign in

        .form-signin
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-label-group
              = f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", class: "form-control"
              = f.label :email, "Email"
            .form-label-group
              = f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control"
              = f.label :password, "Password"
            - if devise_mapping.rememberable?
              .custom-control.custom-checkbox.mb-3
                = f.check_box :remember_me, placeholder: "Remember password", class: "custom-control-input"
                = f.label :remember_me, "Remember password", class: "custom-control-label"
              = f.submit "Sign in", class: "btn btn-lg btn-outline-dark btn-block text-uppercase"
