= render "shared/internal_navbar"

.container
  %h1= @album.name
  = link_to(new_album_image_path(@album), class: "btn-lg") do
    %span.fas.fa-images{"aria-hidden" => "true"}
  %ul
    - @images.each do |image|
      .col-lg-4.col-md-6.col-sm-6.col-xs-12
        .panel.panel-default
          .panel-heading
          .panel-body
            = image_tag(image.image, width: 600, class: "img-responsive img-thumbnail")
          .panel-footer
            = link_to(album_image_path(@album, image), method: :delete, class: "btn btn-danger btn-xs") do
              %span.glyphicon.glyphicon-trash{"aria-hidden" => "true"}
              Delete


